.info_box3
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

    .box3
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

        .info_title
            @include mix_info_title
            padding-top: 80px

        .info
            @include mix_info