.main
    height: 985px
    // width: 1920px
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: center
    background-image: url('../media/mount.png')
    background-size: cover
    background-repeat: no-repeat
