.main
    height: 1300px
    // width: 1920px
    display: flex
    justify-content: space-between
    flex-direction: column
    align-items: center
    background-image: url('/Portfolio/Tibet_Room/media/mount.png')
    background-size: cover
    background-repeat: no-repeat
    back

