$dark-font-color: #18121E
$gold-font-color: #F2BE22
$light-font-color: #FDFDFD
$button-bg-color: #1A3E3E
$box-bg-color: #F3F5F4
    
*
    margin: 0
    padding: 0
    text-decoration: none

@mixin mix_button
    display: inline-flex
    flex-direction: row
    justify-content: center
    align-items: center
    background-color: $button-bg-color
    border-radius: 4px
    border: none
    width: 157px
    height: 44px
    padding: 12px 24px
    gap: 10px
    color: $light-font-color
    cursor: pointer
    transition: background-color 0.5s ease, outline 0.5s ease

    &:hover
        color: $button-bg-color
        background-color: $light-font-color
        outline: 1px solid $button-bg-color

@mixin mix_info_title
    color: $gold-font-color
    font-family: 'Nunito', sans-serif
    font-size: 24px
    font-style: normal
    font-weight: 400
    line-height: 20px
    padding-bottom: 8px

@mixin mix_info
    color: $dark-font-color
    font-family: 'Nunito', sans-serif
    font-size: 32px
    font-style: normal
    font-weight: 600
    line-height: 120%
    padding-bottom: 40px

@mixin mix_info_text
    color: $dark-font-color
    font-family: 'Nunito', sans-serif
    font-size: 18px
    font-style: normal
    font-weight: 400
    line-height: 150%
    padding-bottom: 40px

@mixin mix_popul_direc_card
    display: flex
    align-items: flex-end
    justify-content: center
    height: 500px
    width: 380px

@mixin mix_popul_direc_cardbox
    width: 380px
    height: 90px
    flex-shrink: 0
    border-radius: 0px 0px 32px 32px
    background: rgba(255, 255, 255, 0.20)
    backdrop-filter: blur(3px)
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    justify-content: space-evenly

@mixin mix_popul_direc_card_title
    color: $light-font-color
    font-family: 'Nunito', sans-serif
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 120%

@mixin mix_popul_direc_card_text
    color: $light-font-color
    font-family: 'Nunito', sans-serif
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 18px

@mixin mix_popul_direc_card_pricebox
    display: inline-flex
    padding: 8px 16px
    justify-content: center
    align-items: center
    gap: 10px
    border-radius: 4px
    background: rgba(255, 255, 255, 0.30)

@mixin mix_popul_direc_card_pricebox_price
    color: $light-font-color
    font-family: 'Nunito' sans-serif
    font-size: 20px
    font-style: normal
    font-weight: 700
    line-height: 24px

@mixin mix_blog_card_title
    color: $dark-font-color
    font-family: 'Nunito', sans-serif
    font-size: 24px
    font-style: normal
    font-weight: 700
    line-height: 32px
    cursor: pointer
    &:hover
        color: $button-bg-color
        text-decoration: underline

@mixin mix_blog_card_text
    overflow: hidden
    color: $dark-font-color
    text-overflow: ellipsis
    // white-space: nowrap
    font-family: 'Nunito', sans-serif
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 20px

@mixin mix_blog_card_botm
    display: flex
    justify-content: space-between
    align-items: flex-start
    align-self: stretch

@mixin mix_blog_card_date
    color: $gold-font-color
    font-family: 'Nunito', sans-serif
    font-size: 14px
    font-style: normal
    font-weight: 700
    line-height: 20px

@mixin mix_blog_car
    color: $button-bg-color
    font-family: 'Nunito', sans-serif
    font-size: 14px
    font-style: normal
    font-weight: 700
    line-height: 20px
    border: none
    background-color: $light-font-color
    cursor: pointer
    &:hover
        color: $button-bg-color
        text-decoration: underline

@mixin mix_contact_h2
    color: $light-font-color
    font-family: 'Nunito', sans-serif
    font-size: 20px
    font-style: normal
    font-weight: 700
    line-height: 24px
    margin-bottom: 17px

@mixin mix_contact_li
    list-style: url('../media/arrowfooter.png')
    color: $light-font-color
    font-family: 'Nunito', sans-serif
    font-size: 14px
    font-style: normal
    font-weight: 400
    line-height: 18px
    padding-bottom: 16px
    margin-left: 15px
    cursor: pointer
    transition: color 0.2s ease


    &:hover
        list-style: url('../media/arrowfootergold.png')
        color: $gold-font-color
        text-decoration-line: underline
        



@import 'main'
@import 'nav'
@import 'search'
@import 'info_box1'
@import 'info_box2'
@import 'info_box3'
@import 'info_box4'
@import 'info_box5'
@import 'footer'
@import 'black'
@import 'button'
@import '@media'
